.help {
    padding: 8rem 0 10rem;
    @include media-mobile {
        padding: 4.2rem 0 4.2rem;
    }
}

.help__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
    @include media-mobile {
        gap: 4.2rem;
    }
}

.help__heading {
    text-align: center;
}

.help__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    @include media-tablet {
        width: 63rem;
        margin: 0 auto;
    }
    @include media-mobile {
        width: 29rem;
        gap: 3rem;
    }
}

.item {
    height: 11.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 6rem 5.5rem;
    @include media-tablet {
        margin: 0 3rem 5.5rem;
    }
    @include media-mobile {
        gap: 2rem;
        margin: 0;
        width: 13rem;
        height: 8.7rem;
    }
    
}

.item__image {
    @include media-mobile {
        width: 5rem;
        height: 5rem;
    }
}

.item__inner-image {
    @include media-mobile {
        width: 5rem;
        height: 5rem;
    }
}
