.start-screen {
    padding-top: 18rem;
    background: $start-screen-gradient-background;
}

.start-screen__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.start-screen__content {
    padding-top: 16.4rem;
    width: 46rem;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2rem;
}

.start-screen__heading {
    width: 31.0rem;
    color: $color-light-xl;
}

.start-screen__subheading {
    color: $color-light-l;
}

.start-screen__image {
    height: 72.8rem;
}