$color-ligth-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-ligth: #FDDCC4;
$pets-card-title: #545454;

$start-screen-gradient-background: url("../../images/noise-lines.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #1f1a1d 100%), #211f20;
$footer-gradient-background: url("../../images/noise-lines.png") repeat, radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

$content-desktop-width: 1199px;
$tablet-width: 767px;
$mobile-width: 319px;