.overlay {
    position: absolute;
    opacity: 0;
}

.overlay_active {
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 2;
    cursor: pointer;
}